{
  "openapi": "3.0.3",
  "info": {
    "title": "balldontlie",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://balldontlie.io"
    }
  ],
  "paths": {
    "/api/v1/players": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "all players (search)",
        "description": "all players (search)",
        "operationId": "allPlayersSearch",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "lebron"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/players/237": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "specific player",
        "description": "specific player",
        "operationId": "specificPlayer",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/players/9999": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "specific player invalid id",
        "description": "specific player invalid id",
        "operationId": "specificPlayerInvalidId",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/teams": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "all teams",
        "description": "all teams",
        "operationId": "allTeams",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/teams/1": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "specific team",
        "description": "specific team",
        "operationId": "specificTeam",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/teams/9999": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "specific team invalid id",
        "description": "specific team invalid id",
        "operationId": "specificTeamInvalidId",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/games": {
      "get": {
        "tags": [
          "games"
        ],
        "summary": "all games (example parameters)",
        "description": "all games (example parameters)",
        "operationId": "allGamesExampleParameters",
        "parameters": [
          {
            "name": "seasons[]",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2018"
            }
          },
          {
            "name": "team_ids[]",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/games/32881": {
      "get": {
        "tags": [
          "games"
        ],
        "summary": "specific game",
        "description": "specific game",
        "operationId": "specificGame",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/games/99999": {
      "get": {
        "tags": [
          "games"
        ],
        "summary": "specific game invalid id",
        "description": "specific game invalid id",
        "operationId": "specificGameInvalidId",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "all stats (example parameters)",
        "description": "all stats (example parameters)",
        "operationId": "allStatsExampleParameters",
        "parameters": [
          {
            "name": "season[]",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2018"
            }
          },
          {
            "name": "player_ids[]",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "237"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "players"
    },
    {
      "name": "teams"
    },
    {
      "name": "games"
    },
    {
      "name": "stats"
    }
  ]
}