{
  "openapi": "3.0.3",
  "info": {
    "title": "CheapShark API",
    "description": "[CheapShark](https://www.cheapshark.com/) is a price comparison website for digital PC Games. We keep track of prices across multiple stores including Steam, GreenManGaming, Fanatical, and many others.\n\nWe offer a fully documented public API for developers to use CheapShark pricing data on their own app or website.\n\n## 📌 Important Usage Notes\n\nThe API is completely free, the only condition being that you **use CheapShark links when sending users to deals** (see details in **Deals** section below). This is how we pay for hosting and development! 😉\n\nWhile not required, it is always appreciated if you mention somewhere that your app or site is making use of the CheapShark API.\n\n## 🔑 Authorization & Rate Limiting\n\nTwo of the most common questions we see are regarding API Keys and Rate Limits. The API is completely public, **no authorization or API Key is needed**. You can get started right away!\n\nTo ensure server performance, we rate limit API calls. If you make too many requests in too short of time, you will receive a `429` HTTP response status code and be _**temporarily**_ blocked. The ban will be automatically lifted after it expires. All API clients are subject to the same limits. For this reason, during development you may wish to create and use a Mock API instead ([Postman offers this feature](https://www.postman.com/features/mock-api/)).\n\nIn general the API is designed to be called directly in response to user input / queries in your application. For example, a user searching for a particular game or browsing through pages of deals. Excessive automated requests to build a cached catalog of data **will run into rate limiting issues** and should be avoided.\n\nThe API fully supports [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), so requests should come directly from the user's browser or app (whenever possible). This will help avoid most rate limiting issues.\n\n## 🙋‍♂️Help & Support\n\nFor some real-world examples of this API in action, we suggest you check out the [CheapShark](https://www.cheapshark.com/) website itself. Using your browser's [DevTools](https://developer.chrome.com/docs/devtools/), you can inspect how various pages and interactions use the API.\n\nIf you run into any issues, need help with your implementation, or just want to share what you'll be using the API for, feel free to get in touch with us anytime!\n\nWe're always happy to help on our [Discord](https://discord.gg/cheapshark)'s dedicated **#api-help** channel or via email - [admin@cheapshark.com](mailto:admin@cheapshark.com?subject=API%20Help).\n\n## 📢Updates\n\nWe'll occasionally share important changes or news regarding the API via the **#api-announcements** channel on our [Discord](https://discord.gg/cheapshark) server. Be sure to right-click and set \"Notification Settings\" to \"All Messages\" on the channel if you'd like to stay informed!",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://www.cheapshark.com"
    }
  ],
  "paths": {
    "/api/1.0/deals": {
      "get": {
        "tags": [
          "💲 Deals"
        ],
        "summary": "Deal Lookup",
        "description": "Get info for a specific deal. Response includes game info, any cheaper current deals, and the cheapest historical price. As elsewhere, dealID is encoded",
        "operationId": "dealLookup",
        "parameters": [
          {
            "name": "storeID",
            "in": "query",
            "description": "Comma separated list of store ID's to filter on. If not set, all stores will be shown.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The requested page number, value is 0 indexed.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of deals per page, max value of 60.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Criteria to sort the list by, possible values - DealRating, Title, Savings, Price, Metacritic, Reviews, Release, Store, Recent.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Determines sort direction.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "lowerPrice",
            "in": "query",
            "description": "Only returns deals with a price greater than this value.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "upperPrice",
            "in": "query",
            "description": "Only returns deals with a price less than or equal to this value (50 acts the same as no limit).",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "metacritic",
            "in": "query",
            "description": "Minimum Metacritic rating for a game.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "steamRating",
            "in": "query",
            "description": "Minimum Steam reviews rating for a game.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxAge",
            "in": "query",
            "description": "Filters to deals found within the specified number of hours (value between 1 and 2500).",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "steamAppID",
            "in": "query",
            "description": "Look for deals on specific games, comma separated list of Steam App ID (still bound by pageSize).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Looks for the string contained anywhere in the game name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exact",
            "in": "query",
            "description": "Flag to allow only exact string match for title parameter.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AAA",
            "in": "query",
            "description": "Flag to include only deals with retail price > $29.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "steamworks",
            "in": "query",
            "description": "Flag to include only deals that redeem on Steam (best guess, depends on store support).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "onSale",
            "in": "query",
            "description": "Flag to include only games that are currently on sale.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Option to output deals in RSS format (overrides page number/size to 0/100).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "An Encoded Deal ID.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "X8sebHhbc1Ga0dTkgg59WgyM506af9oNZZJLU9uSrX8%3D"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deal Lookup",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "EXPIRED"
                }
              },
              "CF-Ray": {
                "schema": {
                  "type": "string",
                  "example": "7d9d7e10a8c90609-IAD"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=300, public"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 19 Jun 2023 17:29:08 GMT"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 19 Jun 2023 16:57:22 GMT"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=cJgNqKZXYSX5R%2BzyXGlqNwYtvburCiDhSCeluo9TfK%2BxsNduoIqUoOhKr51gcjwYn1aUwOIz89nMXuEiNapNSOkj5l2HGDLlP%2F96vr8lRrwI0gvjrM5ZqYQmOZGEAI59U49IoA%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, HEAD, OPTIONS"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Encoding, X-Total-Page-Count"
                }
              },
              "cdn-cache-control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=600, stale-while-revalidate=60, stale-if-error=432000, public"
                }
              },
              "php-cache": {
                "schema": {
                  "type": "string",
                  "example": "EXPIRED"
                }
              },
              "php-cache-age": {
                "schema": {
                  "type": "string",
                  "example": "0"
                }
              },
              "php-cache-key": {
                "schema": {
                  "type": "string",
                  "example": "aae404cb474f2d477a63e317d23562f85ee18898"
                }
              },
              "php-cache-max-age": {
                "schema": {
                  "type": "string",
                  "example": "300"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "string",
                  "example": "The love of games, an addiction to deals, and a bit of code! :)"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cheaperStores": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dealID": {
                            "type": "string",
                            "example": "vb3EqB4KpKbSyV83DXQYAZCSBS60LaOMgLCXSt8pQxw%3D"
                          },
                          "retailPrice": {
                            "type": "string",
                            "example": "29.99"
                          },
                          "salePrice": {
                            "type": "string",
                            "example": "5.89"
                          },
                          "storeID": {
                            "type": "string",
                            "example": "23"
                          }
                        }
                      },
                      "example": [
                        {
                          "dealID": "vb3EqB4KpKbSyV83DXQYAZCSBS60LaOMgLCXSt8pQxw%3D",
                          "retailPrice": "29.99",
                          "salePrice": "5.89",
                          "storeID": "23"
                        },
                        {
                          "dealID": "boC2N0Q7SMCKxv6UKjRw%2BLFY6%2BNLEeWM2Bf1i80clx0%3D",
                          "retailPrice": "29.99",
                          "salePrice": "5.99",
                          "storeID": "21"
                        },
                        {
                          "dealID": "tbqfs8HsmHWn0mMk2QRCPd7KWLidkHrIYZX3FbYCyk0%3D",
                          "retailPrice": "29.99",
                          "salePrice": "7.19",
                          "storeID": "30"
                        },
                        {
                          "dealID": "r%2FGHYdW6GKpZfaqR4DQrjKD7vBoWiFPP7npVpVw4350%3D",
                          "retailPrice": "29.99",
                          "salePrice": "7.20",
                          "storeID": "34"
                        },
                        {
                          "dealID": "OVrkWmI7sl5RN61pxpA44euybrH826w%2FjvlV%2BYKc2oA%3D",
                          "retailPrice": "29.99",
                          "salePrice": "7.49",
                          "storeID": "2"
                        },
                        {
                          "dealID": "5ptxhcM1fatjVrZSnNNpbSz6okheevZEhcBAZm4AUfU%3D",
                          "retailPrice": "29.99",
                          "salePrice": "7.50",
                          "storeID": "35"
                        },
                        {
                          "dealID": "DQ%2BYLI9do4mm0H2%2BDUd6npgoQoK8bseNvyjJe%2B%2F3dEo%3D",
                          "retailPrice": "29.99",
                          "salePrice": "26.28",
                          "storeID": "15"
                        },
                        {
                          "dealID": "kj2H%2FvwfkyU40jW9s2g88CAW4PuR0etKlYvkQLitgvQ%3D",
                          "retailPrice": "29.99",
                          "salePrice": "26.99",
                          "storeID": "29"
                        },
                        {
                          "dealID": "fq0cNHiR3Z4TpZyV7WH865C1%2BCBlmufYUc%2Bu2HqyUHE%3D",
                          "retailPrice": "29.99",
                          "salePrice": "26.99",
                          "storeID": "27"
                        }
                      ]
                    },
                    "cheapestPrice": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "number",
                          "example": 1682548425
                        },
                        "price": {
                          "type": "string",
                          "example": "4.49"
                        }
                      }
                    },
                    "gameInfo": {
                      "type": "object",
                      "properties": {
                        "gameID": {
                          "type": "string",
                          "example": "93503"
                        },
                        "metacriticLink": {
                          "type": "string",
                          "example": "/game/pc/bioshock-infinite"
                        },
                        "metacriticScore": {
                          "type": "string",
                          "example": "94"
                        },
                        "name": {
                          "type": "string",
                          "example": "BioShock Infinite"
                        },
                        "publisher": {
                          "type": "string",
                          "example": "N/A"
                        },
                        "releaseDate": {
                          "type": "number",
                          "example": 1364169600
                        },
                        "retailPrice": {
                          "type": "string",
                          "example": "29.99"
                        },
                        "salePrice": {
                          "type": "string",
                          "example": "29.99"
                        },
                        "steamAppID": {
                          "type": "string",
                          "example": "8870"
                        },
                        "steamRatingCount": {
                          "type": "string",
                          "example": "98477"
                        },
                        "steamRatingPercent": {
                          "type": "string",
                          "example": "93"
                        },
                        "steamRatingText": {
                          "type": "string",
                          "example": "Very Positive"
                        },
                        "steamworks": {
                          "type": "string",
                          "example": "1"
                        },
                        "storeID": {
                          "type": "string",
                          "example": "1"
                        },
                        "thumb": {
                          "type": "string",
                          "example": "https://cdn.cloudflare.steamstatic.com/steam/apps/8870/capsule_sm_120.jpg?t=1602794480"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Deal Lookup": {
                    "value": {
                      "cheaperStores": [
                        {
                          "dealID": "vb3EqB4KpKbSyV83DXQYAZCSBS60LaOMgLCXSt8pQxw%3D",
                          "retailPrice": "29.99",
                          "salePrice": "5.89",
                          "storeID": "23"
                        },
                        {
                          "dealID": "boC2N0Q7SMCKxv6UKjRw%2BLFY6%2BNLEeWM2Bf1i80clx0%3D",
                          "retailPrice": "29.99",
                          "salePrice": "5.99",
                          "storeID": "21"
                        },
                        {
                          "dealID": "tbqfs8HsmHWn0mMk2QRCPd7KWLidkHrIYZX3FbYCyk0%3D",
                          "retailPrice": "29.99",
                          "salePrice": "7.19",
                          "storeID": "30"
                        },
                        {
                          "dealID": "r%2FGHYdW6GKpZfaqR4DQrjKD7vBoWiFPP7npVpVw4350%3D",
                          "retailPrice": "29.99",
                          "salePrice": "7.20",
                          "storeID": "34"
                        },
                        {
                          "dealID": "OVrkWmI7sl5RN61pxpA44euybrH826w%2FjvlV%2BYKc2oA%3D",
                          "retailPrice": "29.99",
                          "salePrice": "7.49",
                          "storeID": "2"
                        },
                        {
                          "dealID": "5ptxhcM1fatjVrZSnNNpbSz6okheevZEhcBAZm4AUfU%3D",
                          "retailPrice": "29.99",
                          "salePrice": "7.50",
                          "storeID": "35"
                        },
                        {
                          "dealID": "DQ%2BYLI9do4mm0H2%2BDUd6npgoQoK8bseNvyjJe%2B%2F3dEo%3D",
                          "retailPrice": "29.99",
                          "salePrice": "26.28",
                          "storeID": "15"
                        },
                        {
                          "dealID": "kj2H%2FvwfkyU40jW9s2g88CAW4PuR0etKlYvkQLitgvQ%3D",
                          "retailPrice": "29.99",
                          "salePrice": "26.99",
                          "storeID": "29"
                        },
                        {
                          "dealID": "fq0cNHiR3Z4TpZyV7WH865C1%2BCBlmufYUc%2Bu2HqyUHE%3D",
                          "retailPrice": "29.99",
                          "salePrice": "26.99",
                          "storeID": "27"
                        }
                      ],
                      "cheapestPrice": {
                        "date": 1682548425,
                        "price": "4.49"
                      },
                      "gameInfo": {
                        "gameID": "93503",
                        "metacriticLink": "/game/pc/bioshock-infinite",
                        "metacriticScore": "94",
                        "name": "BioShock Infinite",
                        "publisher": "N/A",
                        "releaseDate": 1364169600,
                        "retailPrice": "29.99",
                        "salePrice": "29.99",
                        "steamAppID": "8870",
                        "steamRatingCount": "98477",
                        "steamRatingPercent": "93",
                        "steamRatingText": "Very Positive",
                        "steamworks": "1",
                        "storeID": "1",
                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/8870/capsule_sm_120.jpg?t=1602794480"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1.0/games": {
      "get": {
        "tags": [
          "🎮 Games"
        ],
        "summary": "Multiple Game Lookup",
        "description": "Allows lookup of a list of games. Includes list of all deals for each game. Maximum of 25 games.",
        "operationId": "multipleGameLookup",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "128,129,130"
            },
            "description": "`(required, string)`\n\nA comma separated list of GameID's"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "array"
            },
            "description": "`(optional, string)`\n\nSet a value of `array` if you prefer the response in array format (instead of key-value object)"
          },
          {
            "name": "id",
            "in": "query",
            "description": "An existing gameID. Required for game lookup.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": "612"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Search for a game by title, case insensitive (required when not specifying steamAppID).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "batman"
            }
          },
          {
            "name": "steamAppID",
            "in": "query",
            "description": "Instead of using title, you can search for a game by Steam's AppID - e.g. http://store.steampowered.com/app/35140/.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": "35140"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of games to return, up to 60.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": "60"
            }
          },
          {
            "name": "exact",
            "in": "query",
            "description": "Flag to allow only exact string match for title parameter.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Multiple Game Lookup - Array Format",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Age": {
                "schema": {
                  "type": "string",
                  "example": "9"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "HIT"
                }
              },
              "CF-Ray": {
                "schema": {
                  "type": "string",
                  "example": "7ad92ef84d6b207c-IAD"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=300, public"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 25 Mar 2023 18:23:10 GMT"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 25 Mar 2023 17:55:26 GMT"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=gj2c%2BmbMENrhilevqO%2F8yDcJmAw0nDQ4RvA8M0HWwvI%2BzAFJn1a0uUaG1k5Ua%2BtDuK5EBsuBuQPr7%2BHduflcPksrO65VGe3DVHDfzkg0WjZexJMO0XMuqgf6A0RHGYjiMC13fQ%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, HEAD, OPTIONS"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Encoding, X-Total-Page-Count"
                }
              },
              "cdn-cache-control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=600, stale-while-revalidate=60, stale-if-error=86400, public"
                }
              },
              "php-cache": {
                "schema": {
                  "type": "string",
                  "example": "EXPIRED"
                }
              },
              "php-cache-age": {
                "schema": {
                  "type": "string",
                  "example": "0"
                }
              },
              "php-cache-key": {
                "schema": {
                  "type": "string",
                  "example": "2bc58b74793fe54ce3ceead3658d4bc2329d0b99"
                }
              },
              "php-cache-max-age": {
                "schema": {
                  "type": "string",
                  "example": "300"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "string",
                  "example": "The love of games, an addiction to deals, and a bit of code! :)"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cheapestPriceEver": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "number",
                            "example": 1494806794
                          },
                          "price": {
                            "type": "string",
                            "example": "4.60"
                          }
                        }
                      },
                      "deals": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "dealID": {
                              "type": "string",
                              "example": "IoCZ9drtueLEcHjcGtR%2BgdXUX9GnXHQ2tLL86zjlM90%3D"
                            },
                            "price": {
                              "type": "string",
                              "example": "4.99"
                            },
                            "retailPrice": {
                              "type": "string",
                              "example": "19.98"
                            },
                            "savings": {
                              "type": "string",
                              "example": "75.025025"
                            },
                            "storeID": {
                              "type": "string",
                              "example": "11"
                            }
                          }
                        },
                        "example": [
                          {
                            "dealID": "IoCZ9drtueLEcHjcGtR%2BgdXUX9GnXHQ2tLL86zjlM90%3D",
                            "price": "4.99",
                            "retailPrice": "19.98",
                            "savings": "75.025025",
                            "storeID": "11"
                          },
                          {
                            "dealID": "et8hm7BwoAPZnyJpSAAehTMKS7M1aPlbLKSZDWmUtEo%3D",
                            "price": "16.79",
                            "retailPrice": "19.99",
                            "savings": "16.008004",
                            "storeID": "23"
                          },
                          {
                            "dealID": "oWyPURCZyImGfRbhD2zT0IhdZ4Z8WoFzQzTrQ8t23GQ%3D",
                            "price": "17.48",
                            "retailPrice": "19.99",
                            "savings": "12.556278",
                            "storeID": "15"
                          },
                          {
                            "dealID": "DlT5IxXbqt4KI7VAOZVcrt1u%2BS9qYZQ16IY4cory4Cg%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "2"
                          },
                          {
                            "dealID": "mmN9g5a3OJzlYAZS5Y7CnbKT5fVk3RyUGKQv%2BbfJTHA%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "30"
                          },
                          {
                            "dealID": "dPB13v%2FMykCkRy39LDryRmCgCc6G6rXN0h1mPvXbQyk%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "24"
                          },
                          {
                            "dealID": "QXFi%2FEUKKTtf86zeNbkc0%2F6MTZ8ZQd5MYJdTw%2BXkdwk%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "34"
                          },
                          {
                            "dealID": "dMKdFSJ01mPBfcmjCGS0q1pFjSNf44uPI6WP9XrvNME%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "33"
                          },
                          {
                            "dealID": "cLKxizhmpyEkhGp0fZnFSXhRgU382U5iTkluKEwAizw%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "29"
                          },
                          {
                            "dealID": "ZYfDUcVNcGrJrdPtndBWjWul8RlfuCZi6lriNsze6gk%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "35"
                          }
                        ]
                      },
                      "info": {
                        "type": "object",
                        "properties": {
                          "gameID": {
                            "type": "string",
                            "example": "128"
                          },
                          "steamAppID": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "thumb": {
                            "type": "string",
                            "example": "https://gamersgatep.imgix.net/0/a/8/be6da04fc36b9995a78d20d319b638d8fad9d8a0.jpg?auto=&w="
                          },
                          "title": {
                            "type": "string",
                            "example": "BioShock"
                          }
                        }
                      }
                    }
                  },
                  "example": [
                    {
                      "cheapestPriceEver": {
                        "date": 1494806794,
                        "price": "4.60"
                      },
                      "deals": [
                        {
                          "dealID": "IoCZ9drtueLEcHjcGtR%2BgdXUX9GnXHQ2tLL86zjlM90%3D",
                          "price": "4.99",
                          "retailPrice": "19.98",
                          "savings": "75.025025",
                          "storeID": "11"
                        },
                        {
                          "dealID": "et8hm7BwoAPZnyJpSAAehTMKS7M1aPlbLKSZDWmUtEo%3D",
                          "price": "16.79",
                          "retailPrice": "19.99",
                          "savings": "16.008004",
                          "storeID": "23"
                        },
                        {
                          "dealID": "oWyPURCZyImGfRbhD2zT0IhdZ4Z8WoFzQzTrQ8t23GQ%3D",
                          "price": "17.48",
                          "retailPrice": "19.99",
                          "savings": "12.556278",
                          "storeID": "15"
                        },
                        {
                          "dealID": "DlT5IxXbqt4KI7VAOZVcrt1u%2BS9qYZQ16IY4cory4Cg%3D",
                          "price": "19.99",
                          "retailPrice": "19.99",
                          "savings": "0.000000",
                          "storeID": "2"
                        },
                        {
                          "dealID": "mmN9g5a3OJzlYAZS5Y7CnbKT5fVk3RyUGKQv%2BbfJTHA%3D",
                          "price": "19.99",
                          "retailPrice": "19.99",
                          "savings": "0.000000",
                          "storeID": "30"
                        },
                        {
                          "dealID": "dPB13v%2FMykCkRy39LDryRmCgCc6G6rXN0h1mPvXbQyk%3D",
                          "price": "19.99",
                          "retailPrice": "19.99",
                          "savings": "0.000000",
                          "storeID": "24"
                        },
                        {
                          "dealID": "QXFi%2FEUKKTtf86zeNbkc0%2F6MTZ8ZQd5MYJdTw%2BXkdwk%3D",
                          "price": "19.99",
                          "retailPrice": "19.99",
                          "savings": "0.000000",
                          "storeID": "34"
                        },
                        {
                          "dealID": "dMKdFSJ01mPBfcmjCGS0q1pFjSNf44uPI6WP9XrvNME%3D",
                          "price": "19.99",
                          "retailPrice": "19.99",
                          "savings": "0.000000",
                          "storeID": "33"
                        },
                        {
                          "dealID": "cLKxizhmpyEkhGp0fZnFSXhRgU382U5iTkluKEwAizw%3D",
                          "price": "19.99",
                          "retailPrice": "19.99",
                          "savings": "0.000000",
                          "storeID": "29"
                        },
                        {
                          "dealID": "ZYfDUcVNcGrJrdPtndBWjWul8RlfuCZi6lriNsze6gk%3D",
                          "price": "19.99",
                          "retailPrice": "19.99",
                          "savings": "0.000000",
                          "storeID": "35"
                        }
                      ],
                      "info": {
                        "gameID": "128",
                        "steamAppID": null,
                        "thumb": "https://gamersgatep.imgix.net/0/a/8/be6da04fc36b9995a78d20d319b638d8fad9d8a0.jpg?auto=&w=",
                        "title": "BioShock"
                      }
                    },
                    {
                      "cheapestPriceEver": {
                        "date": 1629066371,
                        "price": "1.86"
                      },
                      "deals": [
                        {
                          "dealID": "gQ%2BvhhK8ajVFYxHIo0%2B12qoX3nUJNwWS5LgqSnfS4AI%3D",
                          "price": "1.86",
                          "retailPrice": "9.95",
                          "savings": "81.306533",
                          "storeID": "2"
                        },
                        {
                          "dealID": "uJDIXwUve0nH2n4ToaL%2FLi71X4cT1XqHuqYfxaDDHN0%3D",
                          "price": "19.99",
                          "retailPrice": "19.99",
                          "savings": "0.000000",
                          "storeID": "3"
                        }
                      ],
                      "info": {
                        "gameID": "129",
                        "steamAppID": null,
                        "thumb": "https://gamersgatep.imgix.net/c/7/3/ba988a3021dc7056b9e89f17dc8e32edc59b737c.jpg?auto=&w=",
                        "title": "Red Orchestra 2: Heroes of Stalingrad"
                      }
                    },
                    {
                      "cheapestPriceEver": {
                        "date": 1569868411,
                        "price": "2.25"
                      },
                      "deals": [
                        {
                          "dealID": "YVakQjhMcizSIK2lDWVgW5zXo35ZV63u7u%2BXazw%2Bfm4%3D",
                          "price": "15.00",
                          "retailPrice": "15.00",
                          "savings": "0.000000",
                          "storeID": "1"
                        }
                      ],
                      "info": {
                        "gameID": "130",
                        "steamAppID": "99300",
                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/99300/capsule_sm_120.jpg?t=1614779423",
                        "title": "Renegade Ops"
                      }
                    }
                  ]
                },
                "examples": {
                  "Multiple Game Lookup - Array Format": {
                    "value": [
                      {
                        "cheapestPriceEver": {
                          "date": 1494806794,
                          "price": "4.60"
                        },
                        "deals": [
                          {
                            "dealID": "IoCZ9drtueLEcHjcGtR%2BgdXUX9GnXHQ2tLL86zjlM90%3D",
                            "price": "4.99",
                            "retailPrice": "19.98",
                            "savings": "75.025025",
                            "storeID": "11"
                          },
                          {
                            "dealID": "et8hm7BwoAPZnyJpSAAehTMKS7M1aPlbLKSZDWmUtEo%3D",
                            "price": "16.79",
                            "retailPrice": "19.99",
                            "savings": "16.008004",
                            "storeID": "23"
                          },
                          {
                            "dealID": "oWyPURCZyImGfRbhD2zT0IhdZ4Z8WoFzQzTrQ8t23GQ%3D",
                            "price": "17.48",
                            "retailPrice": "19.99",
                            "savings": "12.556278",
                            "storeID": "15"
                          },
                          {
                            "dealID": "DlT5IxXbqt4KI7VAOZVcrt1u%2BS9qYZQ16IY4cory4Cg%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "2"
                          },
                          {
                            "dealID": "mmN9g5a3OJzlYAZS5Y7CnbKT5fVk3RyUGKQv%2BbfJTHA%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "30"
                          },
                          {
                            "dealID": "dPB13v%2FMykCkRy39LDryRmCgCc6G6rXN0h1mPvXbQyk%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "24"
                          },
                          {
                            "dealID": "QXFi%2FEUKKTtf86zeNbkc0%2F6MTZ8ZQd5MYJdTw%2BXkdwk%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "34"
                          },
                          {
                            "dealID": "dMKdFSJ01mPBfcmjCGS0q1pFjSNf44uPI6WP9XrvNME%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "33"
                          },
                          {
                            "dealID": "cLKxizhmpyEkhGp0fZnFSXhRgU382U5iTkluKEwAizw%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "29"
                          },
                          {
                            "dealID": "ZYfDUcVNcGrJrdPtndBWjWul8RlfuCZi6lriNsze6gk%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "35"
                          }
                        ],
                        "info": {
                          "gameID": "128",
                          "steamAppID": null,
                          "thumb": "https://gamersgatep.imgix.net/0/a/8/be6da04fc36b9995a78d20d319b638d8fad9d8a0.jpg?auto=&w=",
                          "title": "BioShock"
                        }
                      },
                      {
                        "cheapestPriceEver": {
                          "date": 1629066371,
                          "price": "1.86"
                        },
                        "deals": [
                          {
                            "dealID": "gQ%2BvhhK8ajVFYxHIo0%2B12qoX3nUJNwWS5LgqSnfS4AI%3D",
                            "price": "1.86",
                            "retailPrice": "9.95",
                            "savings": "81.306533",
                            "storeID": "2"
                          },
                          {
                            "dealID": "uJDIXwUve0nH2n4ToaL%2FLi71X4cT1XqHuqYfxaDDHN0%3D",
                            "price": "19.99",
                            "retailPrice": "19.99",
                            "savings": "0.000000",
                            "storeID": "3"
                          }
                        ],
                        "info": {
                          "gameID": "129",
                          "steamAppID": null,
                          "thumb": "https://gamersgatep.imgix.net/c/7/3/ba988a3021dc7056b9e89f17dc8e32edc59b737c.jpg?auto=&w=",
                          "title": "Red Orchestra 2: Heroes of Stalingrad"
                        }
                      },
                      {
                        "cheapestPriceEver": {
                          "date": 1569868411,
                          "price": "2.25"
                        },
                        "deals": [
                          {
                            "dealID": "YVakQjhMcizSIK2lDWVgW5zXo35ZV63u7u%2BXazw%2Bfm4%3D",
                            "price": "15.00",
                            "retailPrice": "15.00",
                            "savings": "0.000000",
                            "storeID": "1"
                          }
                        ],
                        "info": {
                          "gameID": "130",
                          "steamAppID": "99300",
                          "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/99300/capsule_sm_120.jpg?t=1614779423",
                          "title": "Renegade Ops"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1.0/stores": {
      "get": {
        "tags": [
          "🛒 Stores"
        ],
        "summary": "Stores Last Change",
        "description": "Including the `lastChange` parameter on the Stores endpoint will return an object with a mapping of `storeIDs` to the last update / change time for that store (in Unix Timestamp format).\n\nThis can be useful to know for reducing the number of API requests for deals or games.",
        "operationId": "storesLastChange",
        "parameters": [
          {
            "name": "lastChange",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stores Last Change",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "HIT"
                }
              },
              "CF-Ray": {
                "schema": {
                  "type": "string",
                  "example": "7d9d8678bb760609-IAD"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=300, public"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 19 Jun 2023 17:34:52 GMT"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 19 Jun 2023 17:29:39 GMT"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=Ges2ACFdIssFrWlxlvGH6q6IxKjG7mi69kS8v%2BgBerA0kzk7zxr6jXTb8Sq3ftgcQxOygasEbG8gxP1llgKLKJvoErJt0Coxe4XhNzT3tpCtFSEyWymibcKLTC%2BtRcpVAa1OyA%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, HEAD, OPTIONS"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Encoding, X-Total-Page-Count"
                }
              },
              "cdn-cache-control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=600, stale-while-revalidate=60, stale-if-error=432000, public"
                }
              },
              "php-cache": {
                "schema": {
                  "type": "string",
                  "example": "EXPIRED"
                }
              },
              "php-cache-age": {
                "schema": {
                  "type": "string",
                  "example": "0"
                }
              },
              "php-cache-key": {
                "schema": {
                  "type": "string",
                  "example": "d6981218b5fee59e36a453b6bab8de29f0688214"
                }
              },
              "php-cache-max-age": {
                "schema": {
                  "type": "string",
                  "example": "300"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "string",
                  "example": "The love of games, an addiction to deals, and a bit of code! :)"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "1": {
                      "type": "string",
                      "example": "1687194696"
                    },
                    "2": {
                      "type": "string",
                      "example": "1687192946"
                    },
                    "3": {
                      "type": "string",
                      "example": "1687195550"
                    },
                    "7": {
                      "type": "string",
                      "example": "1687194216"
                    },
                    "8": {
                      "type": "string",
                      "example": "1687192703"
                    },
                    "11": {
                      "type": "string",
                      "example": "1687192630"
                    },
                    "13": {
                      "type": "string",
                      "example": "1687192395"
                    },
                    "15": {
                      "type": "string",
                      "example": "1687194986"
                    },
                    "21": {
                      "type": "string",
                      "example": "1687195460"
                    },
                    "23": {
                      "type": "string",
                      "example": "1687195017"
                    },
                    "24": {
                      "type": "string",
                      "example": "1687195029"
                    },
                    "25": {
                      "type": "string",
                      "example": "1687193047"
                    },
                    "27": {
                      "type": "string",
                      "example": "1687194841"
                    },
                    "28": {
                      "type": "string",
                      "example": "1687195460"
                    },
                    "29": {
                      "type": "string",
                      "example": "1687195267"
                    },
                    "30": {
                      "type": "string",
                      "example": "1687193808"
                    },
                    "31": {
                      "type": "string",
                      "example": "1687192468"
                    },
                    "33": {
                      "type": "string",
                      "example": "1687195753"
                    },
                    "34": {
                      "type": "string",
                      "example": "1687195631"
                    },
                    "35": {
                      "type": "string",
                      "example": "1687195735"
                    }
                  }
                },
                "examples": {
                  "Stores Last Change": {
                    "value": {
                      "1": "1687194696",
                      "2": "1687192946",
                      "3": "1687195550",
                      "7": "1687194216",
                      "8": "1687192703",
                      "11": "1687192630",
                      "13": "1687192395",
                      "15": "1687194986",
                      "21": "1687195460",
                      "23": "1687195017",
                      "24": "1687195029",
                      "25": "1687193047",
                      "27": "1687194841",
                      "28": "1687195460",
                      "29": "1687195267",
                      "30": "1687193808",
                      "31": "1687192468",
                      "33": "1687195753",
                      "34": "1687195631",
                      "35": "1687195735"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/1.0/alerts": {
      "get": {
        "tags": [
          "📧 Alerts"
        ],
        "summary": "Get Alerts",
        "description": "This endpoint will return all your existing alerts. It requires a `key`which you can retrieve from the link sent to your email when using the `Manage Alerts` endpoint.",
        "operationId": "getAlerts",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "get"
            },
            "description": "`(required, string)`\nThe action to take on the price alert",
            "required": true
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "example-key-value"
            },
            "description": "`(required, string)`\nThe key parameter from your manage link (received via email)"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Any valid email address. Required when editing or managing an alert.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "someone@example.org"
            }
          },
          {
            "name": "gameID",
            "in": "query",
            "description": "An existing gameID. Required when editing an alert.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": "59"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "The price to wait for, only required when using set value for action parameter.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": "14"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key w/ Alerts",
            "headers": {
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "example": "bytes"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "BYPASS"
                }
              },
              "CF-Ray": {
                "schema": {
                  "type": "string",
                  "example": "8b7b5958dce9c938-IAD"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, no-store"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "276"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 23 Aug 2024 13:11:32 GMT"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v4?s=7IXWpYZpR8jPbkK36KZR3GAi4HAOVnzvzKDC011LlEE%2F7nBa5snJq5WWENw1%2FRvnibYArwYBw3YX8ClCeBPIHj3jVMqCbRRsdGm464Rr45qs2hWW86KqLX2yWm%2BVcy5MiRQbZg%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, HEAD, OPTIONS"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Encoding, X-Total-Page-Count"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "string",
                  "example": "The love of games, an addiction to deals, and a bit of code! :)"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "game": {
                        "type": "string",
                        "example": "Cyberpunk 2077: Phantom Liberty"
                      },
                      "gameID": {
                        "type": "string",
                        "example": "264414"
                      },
                      "price": {
                        "type": "string",
                        "example": "20.00"
                      }
                    }
                  },
                  "example": [
                    {
                      "game": "Cyberpunk 2077: Phantom Liberty",
                      "gameID": "264414",
                      "price": "20.00"
                    },
                    {
                      "game": "Moss: Book II",
                      "gameID": "252354",
                      "price": "15.00"
                    },
                    {
                      "game": "The Talos Principle",
                      "gameID": "135790",
                      "price": "5.00"
                    },
                    {
                      "game": "Total War: PHARAOH",
                      "gameID": "261052",
                      "price": "15.00"
                    }
                  ]
                },
                "examples": {
                  "Key w/ Alerts": {
                    "value": [
                      {
                        "game": "Cyberpunk 2077: Phantom Liberty",
                        "gameID": "264414",
                        "price": "20.00"
                      },
                      {
                        "game": "Moss: Book II",
                        "gameID": "252354",
                        "price": "15.00"
                      },
                      {
                        "game": "The Talos Principle",
                        "gameID": "135790",
                        "price": "5.00"
                      },
                      {
                        "game": "Total War: PHARAOH",
                        "gameID": "261052",
                        "price": "15.00"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Key",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "BYPASS"
                }
              },
              "CF-Ray": {
                "schema": {
                  "type": "string",
                  "example": "8b7b5254b85dc938-IAD"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, no-store"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 23 Aug 2024 13:06:44 GMT"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v4?s=x%2B6daSdCe6wkgeD0n5OrnP7s0qIB%2FTCxeq0ahwM87tY%2B6GWUiS3RBXqW3ti7qHxpi40PFU3aft5bz2DlWlzSilAwlTHzpeH9gi7%2BVkU4DSoS1GJFXGeuDDJZ%2FT3rQfd%2BzyJi8A%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, HEAD, OPTIONS"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Encoding, X-Total-Page-Count"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "string",
                  "example": "The love of games, an addiction to deals, and a bit of code! :)"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {},
                  "example": []
                },
                "examples": {
                  "Invalid Key": {
                    "value": []
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "💲 Deals",
      "description": "Each deal is the price (and metadata) for a game at a particular store. For example: if a game is available on 3 stores, it will have 3 separate deal entries, one for each store the game is listed on. For reference, deal entries still exist even when the game is at full price.\n\nOn your website or app, you will use the CheapShark redirect page to link users to a specific deal:\n\n`https://www.cheapshark.com/redirect?dealID={id}`\n\n**📌 Important Note**: The redirect page is _not_ an API endpoint and will **block** automated access. It is designed only to link and send your users to deals. If your use-case _requires_ automation, please get in touch for options!\n\n---\n\nIn general, pricing information is updated from stores about once per hour. However this can fluctuate depending on a number of factors.\n\nThe deal rating property provides a quick way to compare how 'good' a deal is. It is normalized on a scale from 0 to 10.\n\nPricing data is always in **USD**. All date fields (releaseDate, lastChange, etc.) are returned in [Unix Timestamp](https://www.unixtimestamp.com/) format, in seconds. Boolean flags are a `0` or a `1`."
    },
    {
      "name": "🎮 Games",
      "description": "Games are the parent for deals, they are grouped by their name. They have one or more deals associated with them.\n\nThe Games endpoint can be useful when you need to search by title and present which Games are available (before drilling down into deals)."
    },
    {
      "name": "🛒 Stores",
      "description": "Information and logos for stores that we track."
    },
    {
      "name": "📧 Alerts",
      "description": "Price alerts are a combination of email address, gameID, and price.\r\n\r\nEmails are sent when any deal for the game reaches (or drops below) the desired price."
    }
  ]
}